[submodule "zim-plugin-instantsearch"]
	path = zim-plugin-instantsearch
	url = https://github.com/e3rd/zim-plugin-instantsearch.git
[submodule "zim-umldiagrameditor"]
	path = zim-umldiagrameditor
	url = git@gitlab.com:Voyvode/zim-umldiagrameditor.git
[submodule "tag-autocompletion"]
	path = tag-autocompletion
	url = git@github.com:gesellkammer/zim-plugins.git
